.header {
    margin: 0 10%;
}
.result {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}
.chartFrame{
    width:400px !important;
    height:400px !important;
}
.chart {
    width: 100%;
}

.description {
    width: 60%;
    margin: auto 0;
}